*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    background-color: #EEF1FF;
}
.main-out{
    width: 100%;
    height: 50vh;
    position: relative;
    background-color: #D2DAFF;
}
.main-out img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px #B1B2FF solid;
    position: absolute;
    top: 40px;
    margin: 20px;
}
.main-me{
    position: relative;
    top: 250px;

}
.main-me p:nth-child(1){

    font-family: 'Poiret One', cursive;
    width: 70%;
    position: relative;
    left: 10%;
    margin: 0;
}
.main-me p:nth-child(2){

    font-family: 'Reem Kufi Ink', sans-serif;
    color: #B1B2FF;
    font-size: 30px;
    width: 70%;
    position: relative;
    left: 10%;
    margin: 0;
}
.main-me p:nth-child(3){
    font-family: 'Poiret One', cursive;
    position: relative;
    left: 10%;
    width: 70%;
    margin: 0;

}
.myjourney h2{

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AAC4FF;
    font-family: 'Reem Kufi Ink', sans-serif;
    text-decoration: underline;
    
}
.about-me{
    width: 90%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #B1B2FF;
    margin: auto;
}
.job{
    color: #AAC4FF;
    font-family: 'Reem Kufi Ink', sans-serif;
    text-align: center;
    
}
.job-title1{
    text-decoration: underline;
}
.zs h4,.ce h4 , .zs h4 > a {
    margin: 20px 0px;
    text-decoration:none;
    color: #87A2FB;
    font-family: 'Reem Kufi Ink', sans-serif;

}

.zs a:focus, .zs a:hover{
    color: black;
}
.whatilearning{
    
    width: 50%;
    /* border : 1px solid black; */
    text-align: start;
    margin: auto;

}

.ce p{
    margin: auto;
    width: 50%;

}
.ce p a{
    font-family: 'Reem Kufi Ink', sans-serif;   
    color: rgba(0, 0, 0, 0.318);
}

@media (min-width:500px){


*{
    margin: 0%;
    padding: 0%;

}
.main-out{
    width:100vw;
    height: 75vh;
    border-bottom: 5px dashed #B1B2FF;
    /* position: relative; */
}
html{
    background-color: #EEF1FF;
}
.mainpage{
    height: 75vh;
    width: 100%;
    position:absolute;
    background-color: #D2DAFF;
    background-size: cover;
   
}
.main-me{
    height: 30%;
    width: 35%;
    top: 35%;
    position: absolute;
    right: 10%;
    
}
.main-me p:nth-child(1){
    font-family: 'Poiret One', cursive;
    font-size: 45px;
}

.main-me p:nth-child(2){
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: 80px;
    color: #B1B2FF;
    transition: 0.5s transform;
   
}
.main-me p:nth-child(2):hover{
    transform: scale(1.1);
}

.main-me p:nth-child(3){
    opacity:1 ;
    transition: 0.5s opacity ;
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    text-align: center;
    transition-delay: 0.2s;

}



.main-out img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: calc(50% - 15vw);
    opacity: 0.9;
    border: 10px #B1B2FF solid;
    transition: 0.5s transform 0.1s;
}

.main-out img:hover{
    transform: scale(1.1);
}





.myjourney{
    font-size: 20px;
    margin-top: 3%;
    font-family: 'Reem Kufi Ink', sans-serif;
    text-align: center;
    color: #AAC4FF;
    position: relative;
    
}
.about-me{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}
.myjourney a{
    color: #AAC4FF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.job-in{
    display: flex;
}
.job p {
    text-align: start;
    

}
.zs .what
 {
    margin-top: 20px;
    padding-left: 30%;

}
.zs .zoho {
    text-align: center;
}
.job li{
    margin-right: 0;
}
.zs, .ce{
    width: 50%;
    height: 100%;
 
}
.whatilearning {
    margin-top: 20px;
 position: absolute;
 width: 35%;
 left: 10%;
}

}